body {
  background: -webkit-linear-gradient(#233f78, #025ca6, #213d75); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#233f78, #025ca6, #213d75); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#233f78, #025ca6, #213d75); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#233f78, #025ca6, #213d75); /* Standard syntax */
  background-repeat: no-repeat;
}

.navbar-header {
  float: right;
  width: 100%;
}

.navbar-img-wrapper {
  float: left;
}

.navbar-default {
  background: #FFF;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.logo-wrapper {
  margin: 0 auto;
  background: #FFF;
  margin-top: 70px;
  text-align: center;
  padding: 20px 0;
  max-width: 600px;
  width: 100%;
}

.banner-wrapper {
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  padding: 20px 0;
  max-width: 600px;
  width: 100%;
}

.airlogos-wrapper,
.footer-wrapper {
  margin: 0 auto;
  background: #FFF;
  text-align: center;
  padding: 20px 0;
  max-width: 600px;
  width: 100%;
}

.img {
  max-width: 600px;
  width: 100%;
}

.header-item {
  line-height: 20px;
  padding: 15px 0;
  font-size: 1.5em;
}

.navbar-nav>li>a {
  font-size: 1.5em;
}

@media screen and (max-width:768px) {
  .logo-wrapper {
    margin-top: 120px;
  }

  .navbar-img-wrapper {
    display: none;
  }
}